@tailwind base;
@tailwind components;

@import "~sweetalert2/dist/sweetalert2.min.css";
/* @import "~vue-js-modal/dist/styles.css"; */
@import "~vue-select/dist/vue-select.css";

:root {

    /* Main Variables */

    --sidebar-width       : 260px;
    --loading-bar-height  : 2px;
    --header-height       : 54px;
    --min-element-size    : 32px;

    /* Colors */

    --transparent         : transparent;
    --white               : white;
    --black               : #000000;

    --primary             : rgb(24, 35, 54);
    --warning             : rgb(251, 255, 0);
    --success             : rgb(35, 149, 0);
    --danger              : rgb(255, 24, 24);
    --info                : #009bf6;

    --primary-light       : rgb(42, 54, 73);
    --warning-light       : yellow;
    --success-light       : green;
    --danger-light        : red;
    --info-light          : blue;

    --tooltip             : #5f6368;
    --tooltip-text        : var(--white);

    --logo                : var(--white);

    --main                : rgb(240, 240, 240);

    --sidebar             : var(--primary);
    --sidebar-menu        : var(--primary);
    --sidebar-menu-active : #151e2d;
    --sidebar-icon        : var(--white);

    /* Packages Variable */
    --vs-dropdown-option-padding: 0 !important;
    --vs-dropdown-option--active-bg: var(--primary-light) !important;
    --vs-dropdown-option--active-color: var(--white) !important;

}

/*@formatter:off*/

body {
    margin: 0 !important;
}

/* Base */

.primary {
    @apply bg-primary !important;
}

.info {
    @apply bg-info text-black !important;
}

.warning {
    @apply bg-warning text-black !important;
}

.danger {
    @apply bg-danger !important;
}

.success {
    @apply bg-success text-black !important;
}

.w-sidebar {
    width: var(--sidebar-width) !important;
}

.w-element {
    width: var(--min-element-size) !important;
}

.h-element {
    height: var(--min-element-size) !important;
}

.h-header {
    height: var(--header-height) !important;
}

.min-w-element {
    min-width: var(--min-element-size) !important;
}

.min-h-element {
    min-height: var(--min-element-size) !important;
}

.h-loading {
    height: var(--loading-bar-height) !important;
}

.flex-center {
    @apply flex items-center justify-between !important;
}

/* Loading */

.progress-back{
    @apply relative bg-white w-full overflow-hidden h-loading z-100;
}

.progress-back .determinate {
    @apply absolute left-0 right-0 top-0 bottom-0 transition-all duration-500 bg-primary;
}

.progress-back .indeterminate {
    @apply bg-primary;
}

.progress-back .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: indeterminate 3.0s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress-back .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: indeterminate-short 3.0s cubic-bezier(0.165, 0.84, 14, 1) infinite;
    animation-delay: 1.4s;
}

@keyframes indeterminate {
  0% {left: -35%;right: 100%; }
  60% {left: 100%;right: -90%; }
  100% {left: 100%;right: -90%; }
}

@keyframes indeterminate-short {
  0% {left: -200%;right: 100%; }
  60% {left: 107%;right: -8%; }
  100% {left: 107%;right: -8%; }
}

/* Header */

.header {
    @apply flex flex-col items-start relative h-header;
}

/* Breadcrumbs */

.breadcrumb {
    @apply select-none inline-flex items-center list-none p-0 m-0;
}

.breadcrumb__item {
    @apply inline-flex items-center cursor-pointer hover:text-black;
}

.breadcrumb__item--disabled {
    @apply cursor-default no-underline pointer-events-none text-gray-400;
}

.breadcrumb__divider {
    @apply px-2;
}

/* Header */

.content {
    @apply overflow-x-hidden bg-main px-4 py-2 w-full h-full;
}

/* Sidebar */

.side-bar {
    height: 100vh;
    @apply flex flex-col place-content-between bg-primary w-sidebar transition-all duration-200 ease-in-out;
}

.side-bar__group {
    @apply text-gray-300 font-bold py-1;
}

.side-bar__item {
    @apply flex items-center justify-start rounded text-gray-100 cursor-pointer m-1 p-2 bg-sidebar-menu transition-all duration-200;
}

.side-bar__item:hover {
    @apply text-white bg-sidebar-menu-active;
}

.side-bar-collapse--item {
    @apply side-bar__item ltr:pl-2 rtl:pr-2;
}

.side-bar__item--active {
    @apply text-white bg-sidebar-menu-active !important;
}

.side-bar__lava {
    @apply text-white m-0;
}

.side-bar__text {
    @apply text-white text-lg m-0;
}

.side-bar__logo {
    @apply p-2 object-contain;
}

.side-bar__profile {
    @apply flex justify-between items-start text-white bg-sidebar-menu-active rounded m-1 mb-2 p-1 cursor-pointer;
}

.side-bar__profile--avatar {
    @apply w-1/4 h-auto rounded-full;
}

.side-bar-collapse {
    @apply my-1 text-white;
}

.side-bar-collapse--header {
    @apply cursor-pointer p-2 m-0 hover:bg-gray-600 hover:text-white;
}

.side-bar-collapse--body {}

/* Card */

.card{

    @apply mx-0 my-4 shadow-lg rounded-md h-full bg-primary-light !important;

}

.card__header{

    @apply text-gray-200 leading-9 font-bold px-1;

}

.card__body{

    @apply bg-white p-1 h-full rounded-md !important;

}

.card__footer{

    @apply text-gray-700 text-sm p-2 pt-3;

}

/* Badge */

.badge {
    min-width: 80px;
    max-width: 100px;
    @apply text-white uppercase text-center shadow rounded px-1;
}

/* Button */

.button {
    @apply shadow text-white text-center transition-all duration-150 ease-in-out border-none cursor-pointer p-1 m-0 min-w-element h-element outline-none rounded hover:opacity-90 hover:shadow-md;
}

.button--disabled {
    @apply pointer-events-none cursor-not-allowed opacity-60 !important;
}

.button--loading {
    @apply cursor-wait !important;
}

/* Dropdown */

.dropdown{
    @apply relative;
}

.dropdown--list{
    @apply absolute py-1 px-2 bg-white w-full text-base list-none z-100 ltr:text-left rtl:text-right rounded-lg shadow-lg mt-1 m-0 border-none;
}

.dropdown--list__item{
    @apply cursor-pointer text-sm font-normal flex items-center justify-start w-full text-gray-700 ;
}

.dropdown--list__item:hover{
    @apply bg-gray-100 text-gray-600;
}

/* Spinner */

.spinner {
    @apply flex items-center justify-between m-auto text-center h-full w-full overflow-hidden !important;
}

.spinner > div {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* Tooltip */

.tooltip {
  @apply bg-tooltip text-tooltip-text m-1 px-2 py-1 rounded text-sm shadow-lg leading-normal;
}

.tooltip {
  display: block !important;
  z-index: 88888;
}

.tooltip .tooltip-inner {
}

.tooltip.popover .popover-inner {
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}

/* Fade Transition */

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}

/* Resource Page */

.resource-header {
    @apply font-bold m-0;
}

.resource-create-button {
    @apply font-bold px-3;
}

.options-filter {
    @apply flex flex-col justify-start w-full p-1 cursor-pointer hover:text-gray-800;
}

/* Resource Table */

.resource-table{
    @apply rounded-lg min-w-full border-collapse ltr:text-left rtl:text-right;
}

.resource-table__th{
    @apply text-sm font-medium text-white px-2 py-1;
}

.resource-table__td{
    @apply resource-table__th whitespace-nowrap text-gray-900 !important;
}

.resource-table__loading{
    @apply absolute inset-0 bg-black opacity-50 w-full h-full;
}

.resource-table__pagination{
    @apply inline-flex list-none p-0 text-gray-600;
}

.resource-table__pagination li div{
    @apply transition-all duration-200;
}

.resource-table__pagination--nav{
    @apply text-sm py-1 px-3 bg-primary rounded text-white;
}

.resource-table__pagination--link{
    @apply text-sm py-1 px-2 cursor-pointer mx-1 bg-gray-100 rounded hover:bg-gray-200;
}

.resource-option__button {}

.resource-option__window {
    min-width: 180px;
    @apply absolute z-100 rounded bg-white shadow-md mt-2 p-2;
}

/* Form */

.form-element{
    @apply transition ease-in-out shadow mx-1 p-1 bg-white border-solid border-2 border-gray-300 text-gray-800 rounded outline-none leading-tight block focus:border-primary focus:shadow-md;
}

.select {
    @apply form-element h-element !important;
}

.checkbox{
    @apply form-element p-1 cursor-pointer border-none accent-slate-500 accent-primary-light outline-none !important;
}

.radio-input{
    @apply form-element p-1 cursor-pointer border-none accent-slate-500 accent-primary-light outline-none !important;
}

.text-input{
    @apply form-element h-element px-1 py-0 !important;
}

.switch-input{
    @apply w-8 h-4 flex items-center bg-gray-300 rounded-full p-1 duration-300 ease-in-out;
}

.switch-input__container {
    @apply cursor-pointer bg-white w-4 h-4 rounded-full shadow-md transform duration-300 ease-in-out;
}

.color-input{
    @apply form-element cursor-pointer h-element px-1 py-0 !important;
}

.text-area-input{
    @apply form-element resize-none;
}

.number-input{
    @apply form-element h-element px-1 py-0 appearance-none !important;
}

.date-picker input{
    margin-left: -4px;
    @apply form-element h-element !important;
}

.ck-editor {
    /*width: 100% !important;*/
}

.ck-content {
    @apply form-element !important;
}

/* Search input */

.search-input {
    @apply relative;
}

.search-input__input {
    @apply form-element h-element ltr:pl-8 rtl:pr-8 mx-0 !important;
}

.search-input__icon {
    @apply absolute top-1/2 left-3 transform -translate-y-1/2 text-lg;
}

/* Select */

.v-select, .v-select > * , v-select input {
    @apply hover:cursor-pointer !important;
}

.vs__dropdown-toggle {
  height: 100%;
  @apply bg-transparent !important;
}

.vs__search {
    @apply m-0 !important;
}

.vs--searchable {
    @apply min-h-element hover:cursor-pointer !important;
}

.vs__selected {
    @apply my-0 bg-transparent text-black !important;
}

.vs__deselect {
    @apply my-0 fill-current text-primary px-1 !important;
}

/* Dialog */

.swal2-popup > * {
    @apply ltr:text-left rtl:text-right !important;
}

.swal2-actions {
    @apply w-full justify-end px-4 !important;
}

.swal2-input-label {
    @apply px-5 ltr:justify-start ltr:text-left rtl:text-right w-full !important;
}

.swal2-input {
    @apply form-element !important;
}

/* Scrollbar */

::-webkit-scrollbar {
  width  : 6px;
  height : 6px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

::-webkit-scrollbar-thumb {
   @apply bg-primary;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-light;
}

@tailwind utilities;
